.MemeGenerator {
    background-image: url('https://i.imgur.com/hOVqUNy.jpg');
    background-size: 100% 100%; 

}
.container {
    display:flex;
}
.child {
    width: 50%;
    float:left;
    border:2px solid black;
}
.UI {
    margin: auto;
    width: 50%;
    padding: 10px;
}
img {
    width: 70%;
    height: auto;
    padding-top:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box {
    position: absolute;
    cursor: move;
    color: black;
    max-width: 500px;
    border-radius: 5px;
    user-select: none;
}
li,h1,h2{
    font-family: "Times New Roman", Times, serif;
    color:white;
}
.FormDiv{
    display: block;
    text-align: center;
}